.GameOverFin {
    position: absolute;
    top: 85px;
    left: 220px;
    width: 336px;
    height: 100px;
    background: url(../../interface/Finish/FinishFin.png);
   }
.GameOverRus {
    position: absolute;
    top: 85px;
    left: 220px;
    width: 336px;
    height: 100px;
    background: url(../../interface/Finish/FinishRus.png);
}


.PlayAgain {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 550px;
    left: 510px;
    background-image: url(../../interface/Finish/PlayAgain.png);

}