.App {
    text-align: center;
    font-family: sans-serif, arial;
    font-weight: bold;
    cursor: url(./interface/Cursor/active.cur), pointer;
    background-color: #61dafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border: 1px #777777;
    border-radius: 0 0.5em 0.5em 0.5em;
    height: 650px;
    width: 700px;
    position: absolute;
    top: 0;
    left: 5px;
}
.bigBg {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 680px;
    height: 630px;
}
.smallBg {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 680px;
    height: 580px;
}
